<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Page</title>
    
</head>
<body>
        <body>
                <div class="container">  
                    <form id="contact" action="/login/userLogin" method="post">
                      <h3>Website Name</h3>
                      <br>
                      <fieldset>
                        <input type="text" name="username" placeholder="Enter your username" required>
                      </fieldset>
            
                      <fieldset>
                        <input type="password" name="password" placeholder="Password" required>
                      </fieldset>

            
                      <fieldset>
                            
                        <button type="submit" id="contact-submit">Login</button>
                        <a href="/register">Don't have an account?</a>
                      </fieldset>
                    </form>
                  </div>
</html>


